h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(179, 39, 39);
  }
  
  p{
    color:grey;
    text-align:left;
  }

  .navbar a{
    background-color: rgb(179, 39, 39);
  }

  body {
    background-color: lightgray;
  }

  #imgsel{
    border:  rgb(179, 39, 39) 2px solid;
  }
  
  .divftr{
      text-align: center;
  }

  .p{font: 'Times New Roman'; font-size: 40px;}